.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.bak

ugv_android/build/
ugv_android/app/build/
ugv_android/.gradle/
ugv_android/local.properties
ugv_android/*.iml
ugv_android/.idea/
ugv_android/.cxx/
ugv_android/captures/

*.jks
*.keystore
apikeys.properties

esp32_side/.pio/
esp32_side/.vscode/

esp32_side/build/
*.elf
*.bin
*.hex
*.part
